# Force consistent LF in repo for text-like files
*.json text eol=lf
*.xml  text eol=lf
*.config text eol=lf
*.rdlc text eol=lf
*.txt  text eol=lf

# Always treat binaries as binary
*.dll binary
*.exe binary
*.pdb binary
*.dat binary
*.png binary
*.jpg binary
*.zip binary
